* {
    box-sizing: border-box;
}

.img {
    width: 200px;
    display: block;
    border-radius: 20%;
}

.list {
    list-style: none;
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    flex-basis: calc((100% - 60px) / 4);
}

.btn {
    display: block;
    margin: 30px auto;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgb(29, 31, 42);
    color: white;
}